/*
Theme Name: Ember Dawn Child
Template: ember-dawn
Version: 1.0.0
*/

/* Custom site-wide styles */
html {
	scroll-behavior: smooth; 
}

@media screen and (max-height: 600px) {
    .hide-on-small-display {
        display: none;
    }
}
